version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:

  frontend:
    build: ./frontend
    ports:
      - "3001:3000"
    depends_on:
      - backend

  # Optional DB
